


<div class="container align-middle col-sm-5">
<br \>
<h1>register</h1>
<br \>
    <form class="form-horizontal" action="/register" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        
        <div class="form-group">
            <div class="form-group">
            <label class="control-label" for="picture">Profile picture:</label>
        
            <input type="text" class="form-control" name="picture" placeholder="Enter picture link">
        </div>

        <div class="form-group">
            <label class="control-label" for="name">Name:</label>
        
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>

        <br \>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Bio:</span>
            </div>
           <textarea class="form-control" name="bio" aria-label="With textarea" placeholder="Enter bio"></textarea> 
        </div>
        <br \>

        <div class="form-group">
            <label class="control-label" for="breed">Breed:</label>
        
            <input type="text" class="form-control" name="breed" placeholder="Enter breed">
        </div>

        <div class="form-group">
            <label class="control-label" for="age">Birth date:</label>
        
            <input type="date" class="form-control" name="age">
        </div>

        <div class="form-group">
            <label class="control-label" for="email">Email:</label>
        
            <input type="email" class="form-control" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Password:</label>
        
            <input type="password" class="form-control" name="password" placeholder="Enter password">
        </div>

        <div class="form-group">
            <label class="control-label" for="repeated_password">Repeat Password:</label>
        
            <input type="password" class="form-control" name="repeated_password" placeholder="Enter password again">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>
<div>
